<h1><%= @page_title%></h1>
<p>This is the about me</p>

<div class= "well">
		<h3>Location Info</h3>
		<ul>
			<li>The Bookstore</li>
			<li>18-24 Tank Street</li>
			<li>Kelvingrove</li>
			<li>Phone: 12345</li>
			<li>Email: ksy4961@gmail.com</li>
		</ul>
</div>